@page
@model WebApplication.Pages.Files.FilesModel
@{
    ViewData["Title"] = "Files";
}

<div class="text-center">
    <h1 class="display-4">My Photos</h1>
</div>
<form>
    <p>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Landscape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Places_Photo.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Places_Photo.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Places_Photo.Region)
            </th>
            <th>
                Persons
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Photos)
        {
            <tr style="font-size:small">
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Landscape)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Path)" alt="Sample Photo" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Places_Photo.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Places_Photo.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Places_Photo.Region)
                </td>
                <td>
                    @foreach (var persons in item.Persons_Photo)
                    {
                        <tr style="font-size:small">
                            <td>
                                @Html.DisplayFor(modelItem => persons.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => persons.Description)
                            </td>
                        </tr>
                    }
                </td>
                </tr>
            }
    </tbody>
</table>